@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b; /* zinc-950 */
    color: #fafafa; /* zinc-50 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .aspect-poster {
    aspect-ratio: 2 / 3;
  }
}
